{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "semi": false,
    "importOrder": ["^components/(.*)$', '^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
