@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#__next {
    height: 100%;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: large;
    font-weight: bold;
}

.my-shadow {
    box-shadow: 1px 0px 11px 0px rgba(0, 0, 0, 0.15);
}

button {
    @apply cursor-pointer;
}

input,
select {
    @apply border border-gray-300 rounded-md;
}

label {
    @apply font-bold mt-4;
}
